<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SomarServlet</servlet-name>
        <servlet-class>calculadora.controler.SomarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubtrairServlet</servlet-name>
        <servlet-class>calculadora.controler.SubtrairServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DividirServlet</servlet-name>
        <servlet-class>calculadora.controler.DividirServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiplicarServlet</servlet-name>
        <servlet-class>calculadora.controler.MultiplicarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LimparServlet</servlet-name>
        <servlet-class>calculadora.controler.LimparServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SomarServlet</servlet-name>
        <url-pattern>/Somar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubtrairServlet</servlet-name>
        <url-pattern>/Subtrair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DividirServlet</servlet-name>
        <url-pattern>/Dividir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiplicarServlet</servlet-name>
        <url-pattern>/Multiplicar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LimparServlet</servlet-name>
        <url-pattern>/Limpar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
